body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background-image: url(r.jpg);
}

.upload-body-content { 
    text-align: center;
    padding: 15px; 
    margin: auto;
    width: 50%; 
    font-weight:bold;
    border: 3px solid mintcream
}

.error-upload {
    color: darkred;
    position: relative;
    bottom: -15px;
}

.upload-page-title {
    text-align:center;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    color: mintcream;
    font-size:x-large
}

.cls-div{
  margin-bottom:10px;
}

.upload-note{
    margin-top:-15px;
    color: darkred;
}

.upload-sub-content{
    margin-bottom: 20px;
    margin-top: 20px;
}


.upload-submit{
    text-align: right;
}
